.montserrat-header{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:2vw;
    font-weight: 400;
    font-style: normal;
}
  

a:link{
    color:black; text-decoration: none;
}

a:visited{
    color:black; text-decoration: none;
}

.center{
    text-align: center;
}

html{
    margin:0; padding:0;
    width:100%; height:97%;
}

body{
    margin:0; padding:0;
    width:100%; height:97%;
    background-color:ghostwhite;
}

.wrapper{
    height: auto;
    min-height: 97%;
    padding-bottom: 60px;
}

footer{
    font-size:0.9vw;
    height: 60px;
    position : relative;
    margin-top:-60px;
    margin-bottom: -60px;
}